src/main/webapp/WEB-INF/schemas/AllocationHistoryAccumsVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Christine Gleason (SystemsEnginerring Group) -->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="AllocationHistoryAccumsVO">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FundFK" type="xs:long"/>
				<xs:element name="CumulativeUnits" type="xs:double"/>
				<xs:element name="CumulativeDollars" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
