src/main/webapp/WEB-INF/schemas/GeneralAccountArrayVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Chris Gleason (Systems Engineering Group, LLC) -->
<xs:schema elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GeneralAccountArrayVO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CumDollars" type="xs:decimal"/>
				<xs:element name="Dollars" type="xs:decimal"/>
				<xs:element name="BusinessDate" type="xs:string"/>
				<xs:element name="InvestmentFK" type="xs:long"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
